# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.7.0
# Note: This is a conda requirements file (MatchSpec format)
# Contains conda package specifications, not pip requirements

pkgs/main::_libgcc_mutex==0.1=main
pkgs/main::_openmp_mutex==5.1=1_gnu
pkgs/main::aom==3.6.0=h6a678d5_0
pkgs/main::blas==1.0=mkl
pkgs/main::brotli-python==1.0.9=py313h6a678d5_9
pkgs/main::bzip2==1.0.8=h5eee18b_6
pkgs/main::c-ares==1.19.1=h5eee18b_0
pkgs/main::ca-certificates==2025.7.15=h06a4308_0
pkgs/main::cairo==1.16.0=he5ede1b_6
pkgs/main::contourpy==1.3.1=py313hdb19cb5_0
pkgs/main::curl==8.14.1=h14366f7_1
pkgs/main::cycler==0.11.0=pyhd3eb1b0_0
pkgs/main::cyrus-sasl==2.1.28=h1110e0f_3
pkgs/main::dav1d==1.2.1=h5eee18b_0
pkgs/main::expat==2.7.1=h6a678d5_0
pkgs/main::fontconfig==2.14.1=h55d465d_3
pkgs/main::fonttools==4.55.3=py313h5eee18b_0
pkgs/main::freetype==2.13.3=h4a9f257_0
pkgs/main::fribidi==1.0.10=h7b6447c_0
pkgs/main::gettext==0.21.0=hedfda30_2
pkgs/main::git==2.45.2=pl5402h72990fb_2
pkgs/main::graphite2==1.3.14=h295c915_1
pkgs/main::harfbuzz==10.2.0=hdfddeaa_1
pkgs/main::icu==73.1=h6a678d5_0
pkgs/main::intel-openmp==2023.1.0=hdb19cb5_46306
pkgs/main::jpeg==9e=h5eee18b_3
pkgs/main::kiwisolver==1.4.8=py313h6a678d5_0
pkgs/main::lcms2==2.16=h92b89f2_1
pkgs/main::ld_impl_linux-64==2.40=h12ee557_0
pkgs/main::lerc==4.0.0=h6a678d5_0
pkgs/main::libabseil==20250127.0=cxx17_h6a678d5_0
pkgs/main::libavif==1.1.1=h5eee18b_0
pkgs/main::libcups==2.4.2=h252cb56_2
pkgs/main::libcurl==8.14.1=hc1efc7f_1
pkgs/main::libdeflate==1.22=h5eee18b_0
pkgs/main::libdrm==2.4.124=h5eee18b_0
pkgs/main::libedit==3.1.20230828=h5eee18b_0
pkgs/main::libegl==1.7.0=h5eee18b_2
pkgs/main::libev==4.33=h7f8727e_1
pkgs/main::libevent==2.1.12=hdbd6064_1
pkgs/main::libffi==3.4.4=h6a678d5_1
pkgs/main::libgcc-ng==11.2.0=h1234567_1
pkgs/main::libgl==1.7.0=h5eee18b_2
pkgs/main::libglib==2.84.2=h37c7471_0
pkgs/main::libglvnd==1.7.0=h5eee18b_2
pkgs/main::libglx==1.7.0=h5eee18b_2
pkgs/main::libgomp==11.2.0=h1234567_1
pkgs/main::libiconv==1.16=h5eee18b_3
pkgs/main::libkrb5==1.21.3=h520c7b4_4
pkgs/main::libllvm15==15.0.7=he89c38a_4
pkgs/main::libmpdec==4.0.0=h5eee18b_0
pkgs/main::libnghttp2==1.57.0=h2d74bed_0
pkgs/main::libpciaccess==0.18=h5eee18b_0
pkgs/main::libpng==1.6.39=h5eee18b_0
pkgs/main::libpq==17.4=h02b6914_2
pkgs/main::libprotobuf==5.29.3=h3cdef7c_1
pkgs/main::libsodium==1.0.18=h7b6447c_0
pkgs/main::libssh2==1.11.1=h251f7ec_0
pkgs/main::libstdcxx-ng==11.2.0=h1234567_1
pkgs/main::libtiff==4.7.0=hde9077f_0
pkgs/main::libuuid==1.41.5=h5eee18b_0
pkgs/main::libwebp-base==1.3.2=h5eee18b_1
pkgs/main::libxcb==1.17.0=h9b100fa_0
pkgs/main::libxkbcommon==1.9.1=h69220b7_0
pkgs/main::libxml2==2.13.8=hfdd30dd_0
pkgs/main::lmdb==0.9.29=h2531618_0
pkgs/main::lz4-c==1.9.4=h6a678d5_1
pkgs/main::matplotlib==3.10.0=py313h06a4308_1
pkgs/main::matplotlib-base==3.10.0=py313h68cf311_1
pkgs/main::mesalib==25.1.5=h31e3550_0
pkgs/main::mkl==2023.1.0=h213fc3f_46344
pkgs/main::mkl-service==2.4.0=py313h5eee18b_2
pkgs/main::mkl_fft==1.3.11=py313h5eee18b_0
pkgs/main::mkl_random==1.2.8=py313h06d7b56_0
pkgs/main::mysql==8.4.0=h721767e_2
pkgs/main::ncurses==6.5=h7934f7d_0
pkgs/main::numpy==2.3.1=py313h8d96ed3_0
pkgs/main::numpy-base==2.3.1=py313h8e760e0_0
pkgs/main::openjpeg==2.5.2=h0d4d230_1
pkgs/main::openldap==2.6.10=h8e75217_0
pkgs/main::openssl==3.0.17=h5eee18b_0
pkgs/main::packaging==25.0=py313h06a4308_0
pkgs/main::pcre2==10.42=hebb0a14_1
pkgs/main::perl==5.40.2=0_h5eee18b_perl5
pkgs/main::pillow==11.3.0=py313hb1c3d2d_0
pkgs/main::pip==25.1=pyhc872135_2
pkgs/main::pixman==0.40.0=h7f8727e_1
pkgs/main::pthread-stubs==0.3=h0ce48e5_1
pkgs/main::pyparsing==3.2.0=py313h06a4308_0
pkgs/main::pyqt==6.7.1=py313h8dad735_2
pkgs/main::pyqt6-sip==13.9.1=py313h6ce4db3_2
pkgs/main::python==3.13.5=h4612cfd_100_cp313
pkgs/main::python-dateutil==2.9.0post0=py313h06a4308_2
pkgs/main::python_abi==3.13=0_cp313
pkgs/main::qtbase==6.7.3=h10a5587_4
pkgs/main::qtdeclarative==6.7.3=h7934f7d_1
pkgs/main::qtsvg==6.7.3=he4bddd1_1
pkgs/main::qttools==6.7.3=h5a8de97_1
pkgs/main::qtwebchannel==6.7.3=h7934f7d_1
pkgs/main::qtwebsockets==6.7.3=h7934f7d_1
pkgs/main::readline==8.3=hc2a1206_0
pkgs/main::setuptools==72.1.0=py313h06a4308_0
pkgs/main::sip==6.10.0=py313h6a678d5_0
pkgs/main::six==1.17.0=py313h06a4308_0
pkgs/main::spirv-tools==2025.1=hdb19cb5_0
pkgs/main::sqlite==3.50.2=hb25bd0a_1
pkgs/main::tbb==2021.8.0=hdb19cb5_0
pkgs/main::tk==8.6.14=h993c535_1
pkgs/main::tornado==6.5.1=py313h5eee18b_0
pkgs/main::tzdata==2025b=h04d1e81_0
pkgs/main::wheel==0.45.1=py313h06a4308_0
pkgs/main::xcb-util==0.4.1=h5eee18b_2
pkgs/main::xcb-util-cursor==0.1.5=h5eee18b_0
pkgs/main::xcb-util-image==0.4.0=h5eee18b_2
pkgs/main::xcb-util-keysyms==0.4.1=h5eee18b_0
pkgs/main::xcb-util-renderutil==0.3.10=h5eee18b_0
pkgs/main::xcb-util-wm==0.4.2=h5eee18b_0
pkgs/main::xkeyboard-config==2.44=h5eee18b_0
pkgs/main::xorg-libice==1.1.2=h9b100fa_0
pkgs/main::xorg-libsm==1.2.6=h9b100fa_0
pkgs/main::xorg-libx11==1.8.12=h9b100fa_1
pkgs/main::xorg-libxau==1.0.12=h9b100fa_0
pkgs/main::xorg-libxdmcp==1.1.5=h9b100fa_0
pkgs/main::xorg-libxext==1.3.6=h9b100fa_0
pkgs/main::xorg-libxfixes==6.0.1=h9b100fa_0
pkgs/main::xorg-libxrandr==1.5.4=h9b100fa_0
pkgs/main::xorg-libxrender==0.9.12=h9b100fa_0
pkgs/main::xorg-libxshmfence==1.3.3=h9b100fa_0
pkgs/main::xorg-libxxf86vm==1.1.6=h9b100fa_0
pkgs/main::xorg-xorgproto==2024.1=h5eee18b_1
pkgs/main::xz==5.6.4=h5eee18b_1
pkgs/main::zlib==1.2.13=h5eee18b_1
pkgs/main::zstd==1.5.6=hc292b87_0
